section{display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section h2{
    font-size: 25px;
}
.intro{
min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
p{
    font-size: 20px;
    text-align: center;
}